footer {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 45px 0px 75px;
    background: rgb(26, 28, 29);
}

footer .flex-box {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

footer .flex-box>div {
    margin: 45px 20px;
}

footer p {
    font-size: 10px;
}